body{
	background-image:url(https://i.pinimg.com/originals/31/96/a5/3196a5835a1689bbea42ab43fc31b36b.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.navbar
  
{
   background-image: linear-gradient(to left,#810541,#C48189);
   padding: 0;
}
.navbar img{
  margin-left: 30px;
}
.navbar-nav li
{
  padding: 0 10px;
}
.navbar-nav li a
{
  color: #fff!important;
  font-weight: 600;
  float: center;
  font-size: 20px;
  font-family: serif;
  text-align:left;
}
.navbar-nav li a:hover{
  color: red;
}
.head{
  font-family: 'Courgette', cursive;
  padding-top: 30px;
  padding-left:5px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}
.head{
  font-family: 'Courgette', cursive;
  padding-top: 30px;
  padding-left:5px;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.cont h1

{
   font-family: 'Courgette', cursive;
   margin-left: 20px;
}
#fot-i{
  height: 100px;
  line-height: 100px;
  width: 80%;
}
#icon{
  display: inline-flex;
  padding: 5px;
}
footer{
  padding: 32px;
}