body{
	background-image:url(https://i.pinimg.com/originals/31/96/a5/3196a5835a1689bbea42ab43fc31b36b.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.navbar
  
{
   background-image: linear-gradient(to left,#810541,#C48189);
   padding: 0;
}
.navbar img{
  margin-left: 30px;
}
.navbar-nav li
{
  padding: 0 10px;
}
.navbar-nav li a
{
  color: #fff!important;
  font-weight: 600;
  float: center;
  font-size: 20px;
  font-family: serif;
  text-align:left;
}
.navbar-nav li a:hover{
  color: red;
}
.head{
  font-family: 'Courgette', cursive;
  padding-top: 30px;
  padding-left:5px;
}
#heading h5
 {
font-family: 'Poppins', sans-serif;
font-size: 30px;
font-weight: bolder;
}
#para-2 p
{
word-spacing: 4px;
letter-spacing: 1px;
font-family: 'Sansita Swashed', cursive;
font-size: 19px;

}
#about p
{
font-family:serif;
}
.a h3
{
font-family: 'Sansita Swashed', cursive;
font-size: 40px;
padding: 20px;
}

@media (min-width: 768px)
 { 
  
 }
#tile-3 p
{
word-spacing: 4px;
letter-spacing: 1px;
font-family: 'Sansita Swashed', cursive;
}
.b{
  font-family: 'Sansita Swashed', cursive;
font-size: 40px;
padding: 20px;
}
@media (max-width: 724px){

  .mob img{
    height: 200px;
  }
}
#fot-i{
  height: 100px;
  line-height: 100px;
  width: 80%;
}
#icon{
  display: inline-flex;
  padding: 5px;
}
footer{
  padding: 32px;
}
